.idiomas {
  display: grid;
  justify-items: center;
}

/* Define o estilo do container do idioma */
.grid-idioma {
  display: grid;
  background-color: rgba(78, 78, 78, 0.5);
  border-radius: 40px;
  padding: 0.1rem;
  gap: 1rem;
  transition: 0.4s;
}

/* Define o estilo do container do idioma ativo */
.grid-idioma.active {
  padding: 1rem;
  border-radius: 30px;
}

/* Faz com que suma o idioma padrão quando clicado o outro */
.grid-idioma.active .idioma-padrao {
  display: none;
}

/* Define o estilo do link do idioma */
.grid-idioma a {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 60px;
}

.grid-idioma span {
  transition: 0.3s;
}

.idioma-pt span,
.idioma-en span,
.idioma-es span {
  display: none;
  transform: rotate(-180deg);
}
.selecionar-idioma span {
  transform: rotate(-180deg);
}
.grid-idioma.active .seta span {
  transform: rotate(-90deg);
}

.idioma-pt.active span,
.idioma-en.active span,
.idioma-es.active span {
  display: block;
}

.idioma-pt.active,
.idioma-en.active,
.idioma-es.active .selecionar-idioma {
  display: none;
}

/* Define o estilo dos elementos dos idiomas */
.idioma-pt,
.idioma-es,
.idioma-en {
  display: block;
  align-items: center;
  display: none;
}

/* Define o estilo dos elementos dos idiomas ativos quando o container do idioma estiver ativo */
.grid-idioma.active .idioma-pt,
.grid-idioma.active .idioma-es,
.grid-idioma.active .idioma-en {
  display: block;
}

/* Define o estilo do idioma ativo "espanhol" */
.idioma-es.active {
  display: flex;
  border-radius: 60px;
}

/* Define o estilo do idioma ativo "inglês" */
.idioma-en.active {
  display: flex;
  border-radius: 60px;
}

/* Define o estilo do idioma ativo "português" */
.idioma-pt.active {
  display: flex;
  border-radius: 60px;
}

/* Define quais elementos devem ser ocultados quando o idioma ativo for "espanhol" */
.idioma-es.active .idioma-en,
.idioma-es.active .idioma-pt {
  display: none;
}

.bandeiras {
  max-width: 30px;
}

.selecionar-idioma.active {
  display: none;
}

.idioma-pt.active,
.idioma-es.active,
.idioma-en.active.selecionar-idioma {
  display: none;
}
