.foto-desktop {
  max-width: 500px;
  align-self: center;
  padding-top: var(--t120);
}

.desktop span {
  color: var(--laranja);
}
.desktop {
  display: grid;
  justify-items: center;
}
.desktop h1 {
  padding: 0 3rem;
  text-align: center;
  padding-top: 3rem;
}

.content-mobile {
  display: none;
}

@media (max-width: 920px) {
  .desktop {
    display: none;
  }

  .content-mobile {
    display: grid;
  }
}
