.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

@media (max-width: 800px) {
  .botao {
    padding: 12px 24px;
    gap: 6px;
    font-size: 1.3rem;
    line-height: 1.3rem;
  }
}
